/* ############ Light mode palettes ################*/

$primary-palette: (
  100: #a8d5ba, // teinte plus claire
  500: #4a7c2e, // couleur principale
  700: #2e521e, // teinte plus foncée
  contrast: (
    100: rgba(black, 0.87), // contraste pour la teinte 100
    500: white, // contraste pour la couleur principale
    700: white  // contraste pour la teinte 700
  )
);

$accent-palette: (
  100: #ffebcc, // teinte plus claire
  500: #ffb84d, // couleur principale
  700: #cc8a00, // teinte plus foncée
  contrast: (
    100: rgba(black, 0.87),
    500: rgba(black, 0.87),
    700: rgba(black, 0.87)
  )
);

/* ############ Dark mode palettes ################*/

$dark-primary-palette: (
  100: #5ba2ec,
  500: #1074b9,
  700: #004989,
  contrast: (
    100: white,
    500: rgba(white, 0.87),
    700: rgba(white, 0.87)
  )
);

$dark-accent-palette: (
  100: #ffd1dc, // teinte plus claire
  500: #ff4081, // couleur principale
  700: #c60055, // teinte plus foncée
  contrast: (
    100: rgba(black, 0.87),
    500: white,
    700: white
  )
);
